body {
    font-family: $regularFont;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: $regularFont;
    font-size: $fontSizeBody;
    color: color(primary-50);
}

li {
    list-style-type: none;
}

input, button {
    outline: none;
}

//---fix button text center----//
button {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }